﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div id="map" style="width:100%; height:850px"></div>
    <div style="z-index: 10032;position: absolute;top: 98px;left: 60px; width:400px; height: 850px;">
        <div class="modal" id="modal-custom">
            <div class="modal-dialog" id="modal-dialog-custom">
                <div class="modal-content" id="modal-content-custom">
                    <div class="modal-header" style="">
                      <h4>Управление</h4>
                    </div>
                    <div class="modal-body" style="min-height: 556px;">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li class="active"><a href="#">Объекты</a></li>
                            <li><a href="#">История</a></li>
                            <li><a href="#">Конструктор</a></li>
                        </ul>
                        <div class="object hide">
                            <div class="list-group terminals">

                            </div>
                        </div>
                        <div class="history hide">
                            <h3>Выберите период</h3>
                            <div class="input-daterange input-group" id="datepicker">
                                <input type="text" class="input-sm form-control" name="start" />
                                <span class="input-group-addon">to</span>
                                <input type="text" class="input-sm form-control" name="end" />
                            </div>
                            <div style="margin-top: 280px;">
                                <h3>Выберите объект наблюдения</h3>
                                <select id="selectObject" style="width:300px;height: 40px">
                                    <option data-img="cabrioletred_7595">Автомобиль</option>
                                    <option data-img="fireescape_4977">Пожарная</option>
                                </select>
                            </div>
                        </div>
                        <div class="costruct"></div>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <a class="btn btn-default">Сбросить настройки</a>
                            <a class="btn btn-primary">Посторить</a>
                        </div>
                        <div class="navigation hide">
                            <ul class="pagination">
                                <li><a href="#">&laquo;</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>

</div>