﻿@model IEnumerable<AOMZ.Models.Terminal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Объекты наблюдения</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorTrack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorMark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorTrack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorMark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td>
            @Html.ActionLink("Редактирование", "Edit", new { id=item.TerminalID }) |
            @Html.ActionLink("Подробно", "Details", new { id=item.TerminalID }) |
            @Html.ActionLink("Удаление", "Delete", new { id=item.TerminalID })
        </td>
    </tr>
}

</table>
