﻿@model IEnumerable<AOMZ.Models.MessageEntity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Terminal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @if (item.Terminal != null)
            {
               @Html.DisplayFor(modelItem => item.Terminal.Name)
            }
        </td>
        <td>
           @DateTime.Now
        </td>
    </tr>
}

</table>
