﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
#modal-custom {
    position: inherit;
    width: 100%;
    overflow: inherit;
    display: block;
    height: 95%;
}
#modal-dialog-custom {
    width: 100%;
    height: 95%;
}
#modal-content-custom {
    width: 100%;
    height: 95%;

}

.description-item {
    margin: 3px;
    text-align: center;
}
.navigation {
    text-align: center;
margin-right: 0;
margin-left: 0;
background-color: #fff;
border-color: #ddd;
border-width: 1px;
border-radius: 4px 4px 0 0;
-webkit-box-shadow: none;
box-shadow: none;
}

.disable {
    background-color: #E9E9E9;
}