﻿@model AOMZ.Models.Terminal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Terminal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorTrack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorTrack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TerminalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
